.waterItemContainer {
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  width: 121px;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 14px;
}

.svgGlass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  fill: #9be1a0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textWater,
.textTime {
  padding: 0;
  margin: 0;
}
.btn {
  border: none;
  padding: 0;
}
.btn:hover {
  border-color: transparent;
  background-color: transparent;
}
.btn:focus,
.btn:focus-visible {
  outline: none;
}
.textWater {
  color: #323f47;
  font-size: 14px;
  font-weight: bold;
}
.textTime {
  color: #2f2f2f;
  opacity: 0.6;
  font-size: 12px;
}

.editScript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.editSvgContainer {
  width: 14px;
  height: 14px;
  fill: #323f47;
}
.editSvgContainer:hover,
.editSvgContainer:focus {
  fill: #9be1a0;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .waterItemContainer {
    width: 192px;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .svgGlass {
    width: 44px;
    height: 45px;
  }
  .textWater {
    font-size: 15px;
    font-weight: bold;
    line-height: 22.4px;
  }
  .textTime {
    font-size: 12px;
    line-height: 22.4px;
  }
  .editScript {
    gap: 14px;
  }
  .editSvgContainer {
    width: 16px;
    height: 16px;
  }
}
