.MonthBlock {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 24px;
}
.header {
  margin: 0;
  padding: 0;
  color: #323f47;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
.paginationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .MonthBlock {
    margin-left: 31px;
    margin-right: 31px;
  }
  .header {
    font-size: 28px;
    line-height: 32px;
  }
}

.box {
  display: flex;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .box {
    gap: 32px;
  }
}

.svg {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  cursor: pointer;
  fill: none;
  stroke: #323f47;
}
.svg:hover,
.svg:focus {
  opacity: 1;
}
