.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
  max-width: 375px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
    max-width: 1440px;
  }
  .waterMainInfo {
    height: 782px;
    position: relative;
  }

  .waterMainInfo > * {
    height: 100%; /* Розтягніть всі дочірні елементи на всю висоту .waterMainInfo */
  }
}
