.text {
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
}
.greet {
  color: #323f47;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: -0.01em;
  font-weight: 400;
}
.userName {
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .panelCont {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .text {
    display: flex;
    margin-left: 32px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
  .greet {
    line-height: 38px;
    font-size: 36px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }
  .userName {
    font-weight: bold;
    font-size: 34px;
  }
}
