.text {
  color: #323f47;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .text {
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    margin: 0;
  }
}
