.btn {
  position: absolute;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  border-radius: 30px;
  right: 16px;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.svg {
  fill: aliceblue !important;
  stroke: aliceblue !important;
  width: 16px;
  height: 16px;
}
.icon {
  fill: aliceblue !important;
  stroke: aliceblue !important;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnText {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.01em;
  font-weight: bold;
}
