.form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .form {
    flex-direction: row;
    gap: 40px;

    div {
      min-width: calc(50% - 20px);
    }
  }
}

.settingFormImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .settingFormImg {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1440px) {
  .settingFormImg {
    width: 100px;
    height: 100px;
  }
}
.photoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
  align-content: center;

  label {
    display: flex;
    font-size: 14px;
    text-align: center;
    font-family: var(--font-family);
    margin: 0;
    line-height: 1.2;
    svg {
      margin-right: 8px;
      width: 18px;
      height: 18px;
      fill: none;
      stroke: black;
    }

    input {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .photoContainer {
    label {
      line-height: 1.5;
      font-size: 16px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.radioInput {
  appearance: none;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--font-family);
  position: relative;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.radioInput::before {
  content: '';
  display: inline-block;
  border: 2px solid var(--mint);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.radioInput:checked::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--mint);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioLabelContainer {
  display: flex;
}

.radioLabel {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.radioLabel:not(:last-child) {
  margin-right: 20px;
}

.textInputContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.formula {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--mint);
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .formula {
    font-size: 16px;
    line-height: 1.5;
  }
}

.formulaTitle {
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .formulaTitle {
    font-size: 16px;
  }
}

.formulaList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .formulaList {
    flex-direction: row;
    gap: 0;
  }

  .formulaListItem {
    margin-right: 28px;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .requiredAmountTextContainer {
    display: flex;
    gap: 5px;
    margin-bottom: 14px;
  }
}

@media (min-width: 1440px) {
  .requiredAmountTextContainer {
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--text-color);
  font-family: Poppins;

  span {
    color: var(--mint);
  }
}

.activeTimeText {
  margin-bottom: 24px;
  display: flex;

  svg {
    margin-right: 4px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .activeTimeText {
    font-size: 16px;
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.indicatorsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.requiredAmountText {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.amountOfWater {
  color: var(--mint);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .amountOfWater {
    font-size: 15px;
    line-height: 1.5;
  }

  .requiredAmountText {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .halfFormContainer {
  }

  .requiredAmountText {
    letter-spacing: -0.02em;
  }
}

.explanationText {
  border-radius: 15px;
  border: 2px solid var(--light-gray);
  padding: 16px;
  margin-bottom: 14px;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  .explanationText {
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
  }
}
