.container {
  position: absolute;
  width: 343px;
  height: 411px;
  top: 16px;
  left: 16px;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
  .container {
    width: 672px;
    height: 498px;
    top: 32px;
    left: 32px;
    padding: 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 664px;
    height: 704px;
  }
}

.box {
  width: 300px;
  padding: 16px;
}
@media (min-width: 768px) {
  .box {
    width: 600px;
    padding: 32px;
  }
}

.textBox {
  width: 300px;
  padding: 16px;
  padding: 80px 16px 16px 16px;
}
@media (min-width: 768px) {
  .textBox {
    padding: 56px 64px 16px 32px;
    width: 547px;
  }
}
@media (min-width: 1440) {
  .textBox {
    padding-top: 88px;
    padding-bottom: 32px;
  }
}

.text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-text-color);
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .text {
    width: 400px;
  }
}

.title {
  padding: 0 0 16px 0;
  margin: 0;
  color: var(--main-text-color);
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.01em;
  text-align: left;
  text-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1439.98px) {
  .title {
    font-size: 64px;
    line-height: 70px;
  }
}
@media (min-width: 1440px) {
  .title {
    font-size: 80px;
    line-height: 76px;
  }
}

.linkBox {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 16px;
}
.link {
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
@media (min-width: 768px) {
  .link {
    padding: 16px 40px;
    font-size: 16px;
  }
  .linkBox {
    padding-left: 32px;
  }
}

.linkInBox {
  position: relative;
}
.linkIn {
  box-shadow: 0 0 5px var(--main-text-color),
    0 0 5px var(--main-text-color) inset;
  border: none;
  -webkit-perspective: 230px;
  perspective: 230px;
  z-index: 1;
}

.linkIn:after {
  /* position: absolute;
  content: ''; */
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 1px solid var(--static-mint);
  box-shadow: 0 0 5px var(--static-mint), 0 0 5px var(--static-mint) inset;
  transition: all 0.9s ease;
}

.linkIn:hover,
.linkIn:focus {
  /* box-shadow: 0 0 5px var(--static-mint), 0 0 5px var(--static-mint) inset; */
  border: 1px solid var(--static-mint);
  color: var(--static-mint);
  box-shadow: inset 0 0 10px var(--static-mint),
    0 0 20px var(--static-mint) inset, 0 0 20px #0bf4f3 inset;
  /* -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg); */
}
.linkIn:hover:after {
  top: 0;
  height: 100%;
}
.linkIn:active {
  top: 2px;
}

.linkUp {
  background-color: var(--static-mint);
  color: var(--text-color);
  border: none;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.linkUp:hover,
.linkUp:focus {
  cursor: pointer;
  background-color: var(--green);
  color: var(--text-color);
  box-shadow: 0 0 10px var(--box-shadow-color), 0 0 20px var(--box-shadow-color),
    0 0 20px var(--text-color) inset;
}
.linkUp:active {
  background-color: var(--background-color);
}
