.calendarBlock {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .calendarBlock {
    column-gap: 48px;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .calendarBlock {
    column-gap: 43px;
    row-gap: 15px;
  }
}
