.userBar {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}

.btn {
  height: 50px !important;

  border-radius: 30px !important;
  background-color: #323f47 !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  align-content: center !important;
  gap: 8px !important;
}
.btn:focus,
.btn:focus-visible {
  outline: none;
}

.text {
  color: #ffffff !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: -0.01em !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  padding: 0;
  margin: 0;
}
.svg {
  width: 38px !important;
  height: 38px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  fill: #ffffff !important;
}
.svgDrop {
  width: 16px !important;
  height: 16px !important;
  fill: #ffffff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: transform 0.3s;
}
.rotated {
  transform: rotate(180deg);
}
.iconDrop {
  width: 100% !important;
  height: 100% !important;
}

.svgDrop:active,
.svgDrop::before {
  transform: rotate(180deg) !important;
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 768px) {
  .btn {
    height: 56px !important;
    margin-right: 32px !important;
  }
  .userBar {
    margin-top: 0;
    margin-left: 0;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  .svgDrop {
    width: 20px !important;
    height: 20px !important;
  }
  .svg {
    width: 44px !important;
    height: 44px !important;
  }
}
