.container {
  max-width: 375px;
  border-radius: 30px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.pagination button {
  padding: 5px 10px;
  border-radius: 30px;
  background-color: var(--static-mint);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .pagination button {
    padding: 10px 20px;
  }
}
.pagination button:disabled {
  background-color: var(--text-color);
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--static-mint);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
