.dailyCont {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 160px;
  justify-content: space-between;
}
.scrollDiv {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollDiv::-webkit-scrollbar {
  height: 8px;
}
.scrollDiv::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 9px;
}
.scrollDiv::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 9px;
}
.dateAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .dailyCont {
    margin-left: 32px;
    margin-right: 32px;
    height: 174px;
  }
}
