.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--mint);
  border-color: var(--mint);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn.light-theme {
  background-color: var(--white);
  color: var(--text-color);
}
.btn.dark-theme {
  background-color: var(--text-color);
  color: var(--background-color);
}
.btn:hover {
  background: var(--main-text-color);
  border-color: var(--main-text-color);
  color: var(--background-color);
}
