.btn {
  padding: 4px 8px;
  font-size: 8px;
  cursor: pointer;
  background-color: var(--static-mint);
  border-color: var(--mint);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn.light-theme {
  background-color: var(--white);
  color: var(--text-color);
}
.btn.dark-theme {
  background-color: var(--text-color);
  color: var(--background-color);
}
.btn:hover,
.btn:active,
.btn:focus {
  background: var(--main-text-color);
  border-color: var(--main-text-color);
  color: var(--background-color);
}

@media only screen and (min-width: 375px) {
  .btn {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 4px 8px;
    font-size: 12px;
  }
}
