.wrap {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .wrap {
    max-width: 704px;
    padding: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .wrap {
    max-width: 1376px;
    padding: 32px;
    display: flex;
    gap: 32px;
    position: relative;
  }
}

.content {
  padding: 24px 16px;
  background-color: var(--background-color);
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}
@media screen and (min-width: 768px) {
  .content {
    padding: 0;
    height: 960px;
  }
}
@media screen and (min-width: 1440px) {
  .content {
    width: 672px;
    height: 736px;
  }
}

.logoWrap {
  margin-bottom: 172px;
}
@media screen and (min-width: 768px) {
  .logoWrap {
    padding: 32px;
    padding-bottom: 0;
    margin-bottom: 225px;
  }
}
@media screen and (min-width: 1440px) {
  .logoWrap {
    margin-bottom: 110px;
  }
}
.logoWrapSignUp {
  margin-bottom: 130px;
}
@media screen and (min-width: 768px) {
  .logoWrapSignUp {
    padding: 32px;
    padding-bottom: 0;
    margin-bottom: 171px;
  }
}
@media screen and (min-width: 1440px) {
  .logoWrapSignUp {
    margin-bottom: 75px;
  }
}

.titleWrap {
  margin-bottom: 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .titleWrap {
    margin-left: 134px;
    margin-right: 134px;
  }
}
@media (min-width: 1440px) {
  .titleWrap {
    margin-left: 118px;
    margin-right: 118px;
  }
}

.textWrap {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .textWrap {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    padding-bottom: 100px;
  }
  .btnToSignIn {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .textWrap {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.wrapWaterSection {
  display: none;
}
@media screen and (min-width: 1440px) {
  .wrapWaterSection {
    display: flex;
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.label {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29em;
  height: 81px;
}
.labelResetWrap {
  height: 119px;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 16px;
    line-height: 1.5em;
    height: 90px;
  }
  .labelResetWrap {
    margin: 0 134px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .labelResetWrap {
    margin: 0 118px;
    height: 136px;
  }
}
.labelText {
  display: block;
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}

.error {
  font-size: 11px;
  color: red;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .error {
    font-size: 12px;
  }
}

.input::placeholder,
.input {
  color: var(--main-text-color);
  font-family: Poppins;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .input::placeholder,
  .input {
    font-size: 16px;
  }
}

.input {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid var(--day-color) !important;
  background-color: var(--day-color) !important;
  width: 100%;
  padding: 16px;
  margin-top: 28px;
  color: var(--main-text-color) !important;
  outline: none;
}

/* Стилі для автоматично вставлених значень */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--main-text-color) !important;
  background-color: var(--day-color) !important;
  color: var(--main-text-color) !important;
}

.inputError,
.inputError:focus {
  border: 1px solid red;
  color: red;
}

.returnToSignIn {
  margin-bottom: 150px;
  font-weight: bold;
  display: block;
  text-align: end;
  text-decoration: underline;
  transition: color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .returnToSignIn {
    margin-right: 134px;
    margin-left: 134px;
  }
}
@media screen and (min-width: 1440px) {
  .returnToSignIn {
    margin-right: 118px;
    margin-left: 118px;
  }
}
