.btn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.btn:focus,
.btn:focus-visible {
  outline: none;
}
.btn:hover {
  border-color: transparent;
  background-color: transparent;
}

.day {
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  width: 20px;
  height: 22px;
  border-radius: 30px;
  background-color: var(--white);
  border: 2px solid var(--day-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.water {
  padding: 0;
  margin: 0;
  font-size: 8px;
  line-height: 8px;
  color: var(--main-text-color);
  opacity: 0.6;
}
.incomplete {
  background-color: var(--day-color);
  border: 2px solid var(--static-mint);
  animation: var(--animation-shadow);
}
.selected {
  background-color: var(--text-color);
  color: var(--static-mint);
  border: 2px solid var(--static-mint);
  animation: var(--animation-shadow);
}

@media only screen and (min-width: 375px) {
  .day {
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
  }
  .water {
    font-size: 10px;
    line-height: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .day {
    width: 38px;
    height: 38px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .water {
    font-size: 12px;
    line-height: 22.4px;
  }
}
